@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.scrollbar-index {
    scrollbar-gutter: stable;
    scrollbar-color: #c7c7c7 #fff;
    scrollbar-width: auto;
}

.sidebar {
    transition: width 0.3s ease-in-out;
}

.content-banner {
    position: relative;
}

.content-banner:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(57, 49, 49, 0.6);
    top: 0;
    left: 0;
    z-index: 1;
}
